.pieChart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding: 0 20px;

    .container {
        display: flex;
        width: 100%;
        max-width: 1540px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &-content {
        background: white;
        width: 100%;
        border-radius: 8px;
        padding: 32px 20px;
    }
}