.addSpending {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 20px;

    .container {
        width: 100%;
        max-width: 1540px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &-content {
        width: 100%;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 32px 20px;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.212);
        color: black;
        font-size: 16px;
        font-family: 'FB';
        display: flex;
        gap: 18px;
        flex-direction: column;

        .category {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
            gap: 20px;

            h3 {
                font-family: 'FL';
                font-size: 18px;
                color: var(--main-color);
            }

            .blank {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 10px;

                &.date {
                    z-index: 1;

                    input {
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        padding: 0 6px;
                        font-family: 'FL';
                    }

                    input[type="date"]::-webkit-calendar-picker-indicator {
                        position: absolute;
                        right: 4px;
                        cursor: pointer;
                    }
                }


                input,
                select {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: start;
                    width: 100%;
                    height: 34px;
                    font-family: 'FL';
                    font-size: 16px;
                    padding: 0 6px;
                    border: 1px solid rgba(0, 0, 0, 0.192);
                    border-radius: 8px;



                    option {
                        font-family: 'FL';
                    }

                    &:focus {
                        border: 1px solid var(--main-blue);
                    }

                    &::placeholder {
                        font-family: 'FL';
                    }
                }

            }
        }

        .add {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            width: 100px;
            background-color: var(--main-blue);
            color: white;
            border: none;
            border-radius: 8px;
            font-family: 'FR';
            font-size: 16px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 4px;

            img {
                width: 16px;
                height: 16px;
            }

            &:hover {
                background-color: var(--main-hovered);
                transition: 300ms;
            }
        }
    }
}

@media (max-width: 740px) {
    .category {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
    }
}

@media (max-width: 400px) {
    .category {
        display: grid;
        grid-template-columns: 1fr !important;
    }

}

@media (max-width:380px) {
    .addName{
        font-size: 1.3rem;
    }
}