@font-face {
  font-family: 'FR';
  src: url('./assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'FB';
  src: url('./assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FL';
  src: url('./assets/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

:root {
  --main-color: #1d1c1cd5;
  --main-blue: #0004ff9d;
  --main-hovered: #0004ffc5;
}

body {
  background-color: #0d00c717;
}

.enterMoneyModal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .enterMoneyModal-content {
    z-index: 999;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 60vw;
    height: 20vw;
    gap: 60px;
    padding: 80px 40px;
    font-size: 16px;
    font-family: 'FL';
    button {
      padding: 10px 20px;
      border-radius: 8px;
      background:var( --main-blue );
      color: white;
      font-size: 16px;
      font-family: FR;
      &:hover{
        background: var( --main-hovered );
        transition: 300ms;
        cursor: pointer;
      }
    }
  }
}

.modal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50vw;
    gap: 60px;
    padding: 80px 40px;

    .inputs {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;


      input {
        width: 30%;
        height: 40px;
        font-size: 18px;
        padding: 8px;
        margin-top: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        text-decoration: none;

        &:focus {
          border-color: var(--main-blue);
        }
      }

      select {
        width: 16%;
        height: 40px;
        font-size: 18px;
        padding: 8px;
        margin-top: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        text-decoration: none;

        option {
          font-size: 18px;
        }
      }
    }


    .buttons {
      display: flex;
      gap: 20px;

      button {
        width: 100px;
        height: 40px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 8px;
        background: var(--main-blue);
        color: #fff;

        &:hover {
          background: #0004ffc5;
          transition: 300ms;
        }
      }
    }
  }
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}