.storage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 0 20px;

    .container {
        display: flex;
        width: 100%;
        max-width: 1540px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .byCategories {
        width: 100%;


        &-content {
            position: relative;
            height: 280px;
            max-height: 280px;
            overflow: hidden;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 32px 20px;
            border-radius: 8px;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.212);

            .line-data {
                scrollbar-width: thin;
                border-radius: 10px;
                padding: 0 10px 0 0;
                scroll-behavior: smooth;
                height: 200px;
                width: 100%;
                overflow-y: auto;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .food {
                    background: #77eb67b2;
                }

                .transport {
                    background: #36a3ebb2;
                }

                .education {
                    background: #e93737b4;
                }

                .health {
                    background: #fa66ffb9;
                }

                .shopping {
                    background: #ffa040ce;
                }

                .entertainment {
                    background: #ffee00ff;
                }

                .other {
                    background: #380e8691;
                }

                .line {

                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    .info {
                        display: flex;
                        justify-content: space-between;

                        h3 {
                            font-family: 'FR';
                            font-weight: 100;
                            font-size: 16px;
                        }
                    }

                    &-content {
                        padding: 12px;
                        border-radius: 8px;
                        width: 100%;
                    }
                }
            }

            .title {
                width: 100%;
                left: 20px;
                top: 32px;
                position: absolute;
                font-size: 1.5rem;
                font-family: 'FB';
            }
        }
    }

    .spendingHistory {
        width: 100%;
        border-radius: 8px;
        max-width: 760px;

        &-content {
            background: white;
            padding: 30px;
            height: 280px;
            max-height: 280px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 32px 20px;
            border-radius: 8px;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.212);
            position: relative;

            h2 {
                left: 20px;
                top: 32px;
                position: absolute;
                font-size: 1.5rem;
                font-family: 'FB';
            }

            .spending-list {
                scrollbar-width: thin;
                border-radius: 10px;
                padding: 0 10px 0 0;
                scroll-behavior: smooth;
                height: 180px;
                width: 100%;
                overflow-y: auto;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                ul {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;

                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 16px;
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        background: #55708a1c;
                        border-radius: 8px;
                        position: relative;

                        .close {
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            right: 5px;
                            top: 5px;
                            height: 16px;
                            width: 16px;
                            padding: 4px;
                            font-size: 10px;
                            border-radius: 10px;
                            cursor: pointer;
                            background: #00000041;
                            transition: 300ms;
                            z-index: 100;
                        }

                        .line {
                            width: 8px;
                            border-radius: 10px;
                            height: 70%;
                            position: absolute;
                            top: 15%;
                            left: 10px;
                        }

                        .info {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            margin-left: 10px;

                            .description {
                                font-family: 'FR';
                                font-size: 16px;
                                word-wrap: break-word;
                                max-width: 510px;
                            }

                            .data {
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                .category {
                                    background: #ffffff;
                                    border-radius: 20px;
                                    padding: 2px 6px;
                                    font-family: 'FL';
                                }

                                .date {
                                    display: flex;
                                    font-family: 'FL';
                                    align-items: center;
                                    gap: 4px;
                                    font-size: 14px;
                                    color: #000000;

                                    img {
                                        width: 14px;
                                        height: 14px;
                                    }
                                }

                            }
                        }

                        .amount {
                            font-family: 'FR';
                            font-size: 22px;
                            min-width: 60px;
                        }
                    }
                }
            }
        }
    }
}